.toolboxContainer {
    @apply p-5 absolute top-1/4 left-4 w-64 rounded-md;
    box-shadow: theme('colors.shadow1');
    border: 1px solid theme('colors.border1');
    background-color: theme('colors.background1');

    .toolItems {
        @apply mb-5;

        .toolText {
            @apply text-lg font-semibold;
            color: theme('colors.text1');
        }

        .itemContainer {
            @apply flex justify-between mt-2;

            .colorBox {
                @apply h-6 w-6 mx-1 rounded-md cursor-pointer;

                &:hover,
                &.active {
                    border: 3px solid theme('colors.border2');
                    box-shadow: theme('colors.shadow2');
                }
            }

            input {
                width: 100%;
            }
        }
    }

}